// ! COLORS

// * Background Colors
$c-w: #ffff; // usable also for text colors, fill colors, and border colors
$c-a: #39FFBF; // also text colors
$c-b1: #527CEB;
$c-b1: #1BB;
$c-r: #F81D39; // also text colors
$c-g1: #3D3D3D;
$c-g2: #333333;
$c-g3: #1F1E38;
$c-g4: #000000B3;
$c-bl: #000000E6;
